html
  head
    title #{title}
    meta(charset="UTF-8")
    link(rel="stylesheet" href="w3.css")
  body
    h1 #{title}
    hr
    table(class="w3-table-all")
      tr
        th Tieto
        th Arvo
      tr
        td Käyntikerrat
        td #{visitCount}
      tr
        td Palvelimen nimi
        td #{hostname}
      tr
        td Kellonaika
        td #{timeString}
